@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


.font-montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.font-white {
    color: $color-white;
}

.font-dark {
    color: $color-dark;
}

.font-green {
    color: $color-green;
}

.font-gray {
    color: $color-gray-2;
}

.font14 {
    @include font-size(14px, 44px);
}

.font16 {
    @include font-size(16px, 12px);
}

.font22 {
    @include font-size(22px, 44px);
}