$breakpoints: (
  w500: 500px,
  xs: 576px,
  w750: 750px,
  md: 991px,
  lg: 1110px,
  w1710: 1710px,
  w1170: 1170px,
  w1250: 1200px,
  w1450: 1450px,
  xl: 1921px,
);

$menuHeight: 6rem;


$color-gray: #F2F3F6;
$color-gray-2: #9CA7D3;
$color-gray-3: #A9AEC1;
$color-gray-4: #D4D7E1;
$color-gray-5: #EDEDF0;
$color-gray-6: #757B8F;
$color-dark:  #494E61;
$color-white: #fff;
$color-purple: #7D82F7;
$color-green: #24A1A9;
$color-green-2 :#33CAD4;
$color-red: #EA5885;



